{% load static %}

<div class="div-content-box">

    <div>
        <div>
            <h1>Filmes, séries e muito mais.</h1>
            <h1>Sem limites.</h1>
            <p>Assista onde quiser. Cancele quando quiser.</p>
        </div>
        <div>
           <p>Quer assister? informe seu email para criar ou reiniciar sua assinatura.</p>
            <label for="text">
                <input type="text" id="text" placeholder="Email" name="text"/><a href="#">Vamos lá<ion-icon name="chevron-forward-outline"></ion-icon></a>
            </label>
        </div>
    </div>

</div>