{% load static %}

<section class="section-content-box">

    <div>
        <div>
            <div>
               <h1>Aproveite TV</h1>
               <p>Assista em Smart TVs, PlayStation, Xbox, Chromecast, Apple TV, aparelhos de Blu-ray e outros dispositivos.</p>
            </div>
            <div>
                <img src="{% static 'hashflix/img/tv.png' %}" alt="">
            </div>
        </div>
        <div>
            <div>
                <img src="{% static 'hashflix/img/mobile-0819.jpg' %}" alt="">
            </div>
            <div>
                <h1>Assista quando quiser.</h1>
                <p>Assista no celular, tablet, Smart TV ou notebook sem pagar a mais por isso.</p>
             </div>
        </div>
        <div>
            <div>
                <h1>Crie perfis para crianças.</h1>
                <p>Deixe as crianças se aventurarem com seus personagens favoritos em um espaço feito só para elas, sem pagar a mais por isso.</p>
            </div>
            <div>
                <img src="{% static 'hashflix/img/netflix_kid.png' %}" alt="">
            </div>
        </div>
    </div>

</section>